body {
  background-color: rgba(240, 240, 240, 240);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
}

.space-between-sections {
  padding-top: 5em;
}